<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cashsaver"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.example.cashsaver.CashSaverApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.cashsaver.MainActivity"
            android:label="@string/app_start_fragment"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cashsaver.EditProductActivity"
            android:label="@string/title_product_new"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.example.cashsaver.AddPriceActivity"
            android:label="@string/title_product_new"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.example.cashsaver.ScanditActivity"
            android:label="@string/action_scan"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>